@{
    ViewBag.Title = "User Home";
}

<div class="jumbotron">
    <h1>5hvlr</h1>
    <p class="lead">Register to find shovelers or to start shoveling peoples houses!</p>
    <input type="button" value="Register" onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-default" />
    <input type="button" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-default" />
</div>

