@model GroupCapstone.Models.ApplicationUser
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<h1>Are they done yet?</h1>
<p> Click the button when the job is done!</p>

<input type="button" value="Request" onclick="location.href='@Url.Action("Done", "ApplicationUsers", new { id = Model.Id })'" class="btn btn-default" />
