@model GroupCapstone.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>We'll Notify you when someone has accepted your request.</h2>


<h3>Click the button when you have been notified</h3>

<input type="button" value="Done" onclick="location.href='@Url.Action("Done", "ApplicationUsers", new { Id = Model.Id}) '" class="btn btn-default" />