@model GroupCapstone.Models.ApplicationUser

@{
    ViewBag.Title = "User Home";
}

<div class="jumbotron">
    <h1>5hvlr</h1>
    <p class="lead">Do you want to request a shoveler or go shovel?</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Request a Shoveler</h2>
        @*@Html.ActionLink("Customer", "Customer", new { id = Model.Id })*@
        <input type="button" value="Request" onclick="location.href='@Url.Action("Customer", "ApplicationUsers", new { id = Model.Id })'" class="btn btn-default" />
    </div>
    <div class="col-md-6">
        <h2>Go Shovel</h2>
        <input type="button" value="Request" onclick="location.href='@Url.Action("Worker", "ApplicationUsers")'" class="btn btn-default" />
    </div>
</div>